.container{
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 90%;
  margin: 0 auto; 
}
.sitem{
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.sitem span{
    /* border-right: 1px solid #ddd; */
  padding-right: 5px
}