.sider{
    position: fixed;
    left: 0;
    height: 100vh;
    overflow: auto;
}
.header{
    position: fixed;
    width: 100%;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    background:#fff;
    z-index: 1;
}
.logo{
    position: relative;
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
}
.content{
    padding: 24px;
    background-color: #fff;
    max-height: 75vh;
    overflow: auto;
}