.sider{
  position: fixed;
  left: 0;
  height: 100vh;
  overflow: auto;
}
.header{
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  padding: 0;
  background:#fff;
}
.logo{
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
}
.content{
  padding: 24px;
  background-color: #fff;
  max-height: 75vh;
  overflow: auto;
}